:root {
  --primary-color: #576f88;
  --secondary-color: #EF6721;
  --background-light: #f8f9fa;
  --background-dark: #121212;
  --text-light: #ffffff;
  --text-dark: #343a40;
  --footer-background: #f8f9fa;
  --footer-opt2: #317873;
  --other-option-bckgnd: #91a3b0;
}

html {
  scroll-behavior: smooth; /* Desplazamiento suave */
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-light);
  color: var(--text-dark);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


body.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-light);
}

h1, h2, h3 {
  color: var(--primary-color);
}

h1 {
  font-size: 2.5rem; /* Ajusta según sea necesario */
}

h2 {
  font-size: 2rem; /* Ajusta según sea necesario */
}

.container {
  margin: 0 auto;
  margin-bottom: 9%;
  flex: 1;
  padding: 30px 0;
  max-width: 1200px; /* Asegura un ancho máximo */
}

.hero {
  padding-top: 10%;
}

@media (max-width: 768px) {
  .container{
    padding-left: 3%;
  }


  .hero {
    padding-top: 15%;
    /* padding-left: 3%; */
  }

  .about-img {
    margin-left: -8px;
}

  .servicesHero {
  width: 100%;
  }
}

/* Navbar */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  /* margin-right: auto; */
}

.navbar-brand a{
  color: var(--primary-color);
  text-decoration: none;
  
}

.navbar-menu {
  display: flex;
  justify-content: flex-end; /* Alinea el menú a la derecha */
  flex-grow: 1; 
 
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.nav-item {
  position: relative;
}

.nav-link,
.dropdown-button {
  padding: 15px 20px; /* Aumentar el padding para que se vea mejor */
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover,
.dropdown-button:hover {
  color: var(--secondary-color);
}

/* Cambios realizados aquí: eliminar border-radius y background */
.dropdown-button {
  background: none; /* Eliminar el background */
  border: none; /* Eliminar borde */
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 100;
  width: 100%; /* Asegura que el dropdown ocupe todo el ancho */
}

.dropdown-menu.block {
  display: block;
}

.dropdown-item {
  padding: 10px 15px;
  color: var(--primary-color);
  text-decoration: none;
  transition: background-color 0.3s;
  display: block; /* Asegura que ocupe todo el ancho */
}

.dropdown-item:hover {
  background-color: var(--secondary-color);
  color: white;
}

.navbar-toggler {
  display: none;
}

.mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.95);
    transition: transform 0.3s;
  }

  .mobile-menu.translate-x-0 {
    transform: translateX(0);
  }

  .mobile-menu.-translate-x-full {
    transform: translateX(-100%);
  }

  .navbar-toggler {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    color: var(--primary-color);
  }

  /* Estilos para el dropdown en pantallas pequeñas */
  .dropdown-menu {
    position: fixed; /* Cambia a posición fija */
    top: 0; /* Alinear en la parte superior */
    left: 0; /* Alinear a la izquierda */
    width: 100%; /* Asegura que el dropdown ocupe todo el ancho */
    height: 100%; /* Asegura que el dropdown ocupe toda la altura */
    display: flex; /* Usar flexbox para alinear items */
    flex-direction: column; /* Alinear los elementos en columna */
    opacity: 0; /* Comienza oculto */
    transition: opacity 0.3s ease; /* Transición de opacidad */
  }

  .dropdown-menu.block {
    opacity: 1; /* Se muestra */
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 769px) {
  .navbar-nav {
    flex-direction: row; /* Asegura que se alineen en fila */
  }

  .mobile-menu {
    display: none; /* Oculta el menú móvil en pantallas grandes */
  }

  .navbar-nav .dropdown-menu{
    position:absolute;
  }
  
  .dropdown-menu.block {
    display: block;
    width: auto;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    /* margin-right: 70%;
    margin-right: 135%;
    margin-left: -60%; */
  }
}



.photos-block {
  padding: 110px 0 70px;
  background-image: url('../src/assets/images/abstract1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
}

.photos-block:before {
  content: '';
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.photos-block .container-fluid {
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.about-section {
  padding: 2rem 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.top-section,
.photos-block,
.making-real-section,
.servicesShow-section,
.contactUs-section,
.contact-section,
.portfolio-section,
.topInvitaciones-section,
.invitePackage-section,
.invitacionesExample-section,
.about-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.1s ease, transform 1.1s ease;
}

/* Services Section */

.servicesShow-section {
  padding: 3rem 0; /* Espaciado vertical */
}

.service-card {
  transition: transform 0.3s, box-shadow 0.3s; /* Transición para sombra */
  margin: 15px 0; /* Espaciado entre tarjetas */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  overflow: hidden; /* Evitar desbordamiento de contenido */
}

.service-card:hover {
  transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Sombra más intensa al hacer hover */
}

.card-title {
  font-size: 1.5rem; /* Tamaño de fuente más grande */
  color: var(--primary-color);
  margin-bottom: 0.5rem; /* Espacio debajo del título */
}

.card-text {
  font-size: 1rem; /* Tamaño de fuente */
  color: var(--text-dark);
  margin-bottom: 1rem; /* Espacio debajo del texto */
}

/* Enlace de servicio */
.service-link {
  text-decoration: none; /* Quitar subrayado */
  color: inherit; /* Mantener el color del texto del contenedor */
  display: block; /* Hacer que el enlace ocupe todo el espacio del card */
  padding: 20px; /* Espacio interno */
}

.service-link:hover {
  background-color: rgba(0, 0, 0, 0.01); /* Color de fondo al hacer hover */
}

/* Media Queries para servicios */
@media (max-width: 768px) {
  .servicesShow-section .row {
    flex-direction: column; /* Alinear en columna en pantallas pequeñas */
  }

  .service-card {
    margin: 10px 0; /* Ajustar espaciado para pantallas pequeñas */
  }

  /* .servicesHero{
    padding-left: 0%;
  } */
}

@media (max-width: 576px) {
  .servicesShow-section .row {
    flex-direction: column; /* Alinear en columna en pantallas pequeñas */
  }

  .service-card {
    margin: 10px 0; /* Ajustar espaciado para pantallas pequeñas */
  }

  /* .servicesHero{
    padding-left: 0%;
  } */
}

.reveal {
  opacity: 1;
  transform: translateY(0);
}



/* Contact Us */
.contactUs-section {
  padding: 2rem 0; /* Espaciado vertical */
  background-color: var(--background-light); /* Fondo claro */
}

.confirmationForm {
  width: 98%; /* Ancho flexible */
  max-width: 800px; /* Ancho máximo */
  padding: 2vw;
  position: relative;
  background-color: rgba(239, 224, 208, 0.04);
  display: flex; /* Usar flexbox */
  flex-direction: column; /* Apilar verticalmente */
  justify-content: center;
  margin: 0 auto 50px; /* Centrar y espacio inferior */
  box-shadow: 5px 5px 12px 3px rgba(0, 0, 0, 0.53);
  border-radius: 3px; /* Bordes redondeados */
  color: var(--primary-color); /* Color del texto */
}

.title-holder {
  text-align: center; /* Centrar el texto del título */
  margin-bottom: 1.5rem; /* Espaciado inferior */
}

.title-holder h4 {
  font-size: 2.0rem; /* Ajustar tamaño de fuente */
  color: var(--primary-color); /* Color del texto */
  transition: color 0.3s ease; /* Transición suave en color */
}


#confirmButton {
  background-color: var(--primary-color);
  margin: 10px 0 0; /* Margen superior */
  border-radius: 3px;
  color: #fff;
  border: 0;
  padding: 10px 20px; /* Padding */
  cursor: pointer; /* Cursor de puntero */
  transition: background 0.3s ease, transform 0.3s ease; /* Transiciones */
}

#confirmButton:hover {
  background: var(--secondary-color);
  color: #fff;
  transform: scale(1.05); /* Aumentar tamaño al pasar el mouse */
  box-shadow: inset 0 0 0 1px var(--secondary-color);
}

/* Media Queries */
@media (max-width: 768px) {
  .confirmationForm {
    width: 90%; /* Hacer el formulario más ancho en pantallas pequeñas */
    padding: 1.5rem; /* Ajustar padding */
  }

  #confirmButton {
    width: 100%; /* Botón de ancho completo en pantallas pequeñas */
    margin: 10px 0; /* Ajustar márgenes */
  }
}

@media (max-width: 480px) {
  .confirmationForm {
    padding: 1rem; /* Reducir padding en pantallas más pequeñas */
  }

  #confirmButton {
    padding: 12px; /* Aumentar padding para mejor interacción */
  }
}

/* Footer */

.Footer {
  background-color: var(--footer-background);
  padding: 20px;
  border-top: .5px solid #dee2e6;
}

.Footer p {
  margin: 0;
  color: #6c757d;
}

.socials {
  margin-bottom: 15px;
}

.socials ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.socials li {
  margin-right: 15px;
}

.socials li:last-child {
  margin-right: 0;
}

.socials a {
  text-decoration: none;
  color: var(--primary-color);
  width: 35px;
  height: 35px;
  background: var(--background-light);
  border-radius: 50%;
  display: block;
  text-align: center;
  padding: 5px;
  transition: background 0.3s linear, color 0.3s linear;
}

.socials a:hover {
  background: var(--secondary-color);
  color: var(--text-light);
  transform: scale(1.15); /* Aumentar tamaño al pasar el mouse */

}

#copyright {
  text-align: left;
  display: inline-flex;
  justify-content: center;
  color: var(--primary-color);
}


.go-top {
  width: 35px;
  height: 35px;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  transition: all 0.3s linear;
  position: fixed;
  bottom: 50px;
  right: 30px;
  background: var(--primary-color);
  border-radius: 20px;
  color: var(--text-light);
}

.go-top:before {
  width: 13px;
  height: 13px;
  transform: rotate(-45deg);
  content: '';
  border-style: solid;
  border-color: var(--text-light);
  border-width: 1px 1px 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3px 0 0 -6px;
}

.go-top:hover {
  background: var(--secondary-color);
  transform: scale(1.15); /* Aumentar tamaño al pasar el mouse */

}

/* Media Queries para el Footer */
@media (max-width: 768px) {
  .Footer {
    flex-direction: column;
    align-items: center;
    padding: 1rem; /* Ajustar padding para pantallas pequeñas */
  }

  .socials {
    justify-content: center;
    margin-bottom: 15px;
  }

  .socials ul {
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se ajusten */
    justify-content: center; /* Centrar los elementos */
  }

  .socials li {
    margin: 0 5px; /* Espacio entre los iconos */
  }
}

@media (max-width: 500px) {
  .Footer {
    padding: 0.5rem; /* Reducir padding en pantallas muy pequeñas */
  }

  .logoFooter {
    max-height: 40px; /* Ajustar el tamaño del logo */
  }

  #copyright {
    text-align: center; /* Centrar el texto del copyright */
    margin:0 30px;
  }
}

.logoFooter{
  max-height: 50px;
  border-radius: 3pc;
}

/* boton informes */
.inform{
  background-color: var(--primary-color);
}


/* Contac-banner component */
.contact-section {
  padding: 40px 0;
}

.full-width-container {
  background-color: var(--primary-color);
  padding: 40px 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.full-width-container h2 {
  color: var(--text-light);
  font-size: 2rem;
  margin-bottom: 15px;
}

.full-width-container p {
  color: var(--text-light);
  font-size: 1.1rem;
  max-width: 600px;
  margin: 0 auto;
}

.button-group .btn {
  font-size: 1rem;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.button-group .btn:hover {
  background-color: var(--footer-opt2);
  border-color: var(--footer-opt2);
  color: white;
}

.inform2 {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

/* Estilos específicos para el botón de WhatsApp */
.sendWhatsapp {
  width: 45px; /* Ajusta el ancho */
  height: 45px; /* Ajusta la altura */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Hacer el botón redondo */
  padding: 0; /* Eliminar padding para mantener la forma */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.whatsapp-icon {
  font-size: 1.3rem; /* Aumentar el tamaño del icono */
  color: white; /* Asegurar que el icono sea visible */
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
  .full-width-container h2 {
    font-size: 1.8rem; /* Tamaño de fuente más pequeño */
  }

  .full-width-container p {
    font-size: 1rem; /* Tamaño de fuente más pequeño */
  }

  .button-group .btn {
    font-size: 0.9rem; /* Tamaño de fuente más pequeño para botones */
    padding: 8px 16px; /* Ajustar padding */
  }

  .sendWhatsapp {
    width: 40px; /* Ajusta el ancho para pantallas más pequeñas */
    height: 40px; /* Ajusta la altura */
  }

  .whatsapp-icon {
    font-size: 1.2rem; /* Aumentar el tamaño del icono */
  }
}

@media (max-width: 576px) {
  .full-width-container h2 {
    font-size: 1.6rem; /* Tamaño de fuente más pequeño */
  }

  .full-width-container p {
    font-size: 0.9rem; /* Tamaño de fuente más pequeño */
  }

  .button-group .btn {
    font-size: 0.8rem; /* Tamaño de fuente más pequeño para botones */
    padding: 6px 12px; /* Ajustar padding */
  }

  .sendWhatsapp {
    width: 40px; /* Ajusta el ancho para pantallas muy pequeñas */
    height: 40px; /* Ajusta la altura */
  }

  .whatsapp-icon {
    font-size: 1rem; /* Tamaño del icono para pantallas muy pequeñas */
  }
}
  



