.invitaciones-section {
  padding: 40px 0;
}

.topInvitaciones-section {
  background-color: var(--primary-color);
  color: white;
  padding: 60px 0;
}

.invitePackage-section {
  padding: 30px 0;
  background-color: #f8f9fa;
}

.package-card {
  height: 100%;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.package-title {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
}

.package-card ul {
  padding-left: 0;
  list-style-type: none;
}

.package-card ul li {
  text-align: left;
  margin-bottom: 0.5rem;
  padding-left: 1.5rem;
  position: relative;
}

.package-card ul li::before {
  content: '✓';
  position: absolute;
  left: 0;
  color: var(--primary-color);
}

.invitation-card-container {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.invitation-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.invitation-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.invitation-card-container:hover .invitation-overlay {
  opacity: 1;
}

.invitation-overlay h3 {
  color: white;
  margin-bottom: 1rem;
}

.cta-section {
  background-color: #c0c6ccd1;
  color: var(--primary-color);
  padding: 60px 0;
}

@media (max-width: 768px) {
  .invitation-image {
    height: 500px;
  }
}

@media (max-width: 576px) {
  .package-card {
    margin-bottom: 2rem;
  }
}